<?xml version="1.0"?>
<launch>

	<!-- start undercarriage ctrlr -->
	<node pkg="cob_undercarriage_ctrl" type="cob_undercarriage_ctrl_node" name="undercarriage_ctrl_node" respawn="false" output="screen">
		<remap from="command" to="command_direct"/>
		<param name="zero_waittime" type="double" value="0.12"/>
	</node>

</launch>
